
<div class=" DEFAULT-theme">
  <div class="page">
    <div class="Produitform">
      <select class="selectProduit">
        <option value="">Sélectionner un article si existant</option>
        @for (produit of produits; track produit.id) {
          <option [value]="produit.id">{{ produit.nom }}</option>
        }
      </select>
      <div class="produitList">
          @for (produit of produits; track produit.id) {
          <div class="produitRow">
            <span>{{ produit.id }}</span>
            <span>{{ produit.nom }}</span>
          </div>
          }
      </div>
  </div>
</div>