@use 'sass:map';

$padding-base: 12px;

$role-themes: (
  'DEFAULT': ("primary": #FAE4FA, "secondary": #F087DD),
  'ADMIN': ("primary": #207DE6, "secondary": #4D91DF),
  'LOGISTICIEN': ("primary": #FD3131, "secondary": #EA8888),
  'VISITEUR': ("primary": #F087DD, "secondary": #FAE4FA),
  'CLIENT': ("primary": #E0E82E, "secondary": #EEF378)
);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.page {
  height: 100vh;
  @include center;
  font-family: Helvetica, sans-serif;
}

@each $role, $colors in $role-themes {

  .#{$role}-theme {
    background-color: map.get($colors, "secondary");
    min-height: 100vh;
    @include center;
  }


  .#{$role}-theme .formulaire {
    background: white;
    border-radius: 20px;
    padding: 25px;
    width: 320px;

    border: 3px solid map.get($colors, "primary");
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  .#{$role}-theme input {
    border-radius: 999px;
    border: 1px solid map.get($colors, "primary");
    padding: 10px 15px;
    outline: none;
    background: #fff;
  }

  .#{$role}-theme input:focus {
    border: 2px solid map.get($colors, "primary");
  }

  .#{$role}-theme button {
    border-radius: 999px;
    padding: 10px;
    border: none;
    cursor: pointer;

    background: map.get($colors, "primary");
    color: white;
    transition: 0.2s;
  }

  .#{$role}-theme button:hover {
    opacity: 0.85;
    transform: scale(1.02);
  }

  .dashboard {
    background-color: map.get($colors, "primary");
  }

  .popup {
    background-color: map.get($colors, "secondary");
  }

  .table {
    background-color: map.get($colors, "secondary");
  }

  .column-table-filter {
    background-color: #D9D9D9;
  }
}
