$font-stack: Helvetica, sans-serif;
$padding-base: 10px;


$role-themes: ( 

  'admin': ("primary": #207DE6, "secondary": #4D91DF),
  'logisticien': ("primary": #FD3131, "secondary": #EA8888),
  'visiteur': ("primary": #F087DD, "secondary": #FAE4FA),
  'client': ("primary": #E0E82E, "secondary": #EEF378)
);



@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@each $role, $colors in $role-themes {
  .#{$role}-theme {
    background-color: map-get($colors, "secondary");
    color: white;
    
    .formulaire {
      border: 50px solid map-get($colors, "primary");
    }

    .dashboard {
      background-color: map-get($colors, "primary");
    }

    .popup {
      background-color: map-get($colors, "secondary");
    }

    .table {
      background-color: map-get($colors, "secondary");
    }

    .colomn-table::onclick {
      background-color: map-get(#D9D9D9, "primary");
    }
  }



}