<div>

  <button class="accordion">Selectionner un article</button>
        <div class="panel-fournisseur">
        <button> {{produit.id}} - {{produit.nom}} </button>
        </div>

  <form #produitForm="ngForm" (ngSubmit)="onSubmit(produitForm)">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="produit.nom" required>
    </div>
    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="produit.prix" required>
    </div>
    <div class="form-group">
      <label for="quantite">Quantité</label>
      <input type="number" class="form-control" id="quantite" name="quantite" [(ngModel)]="produit.quantite" required>
    </div>

    <div class="form-group">
        <radio-groupe name="perissable" [(ngModel)]="produit.perissable" required>
            <label class="radio-inline">
                <input type="radio" name="perissable" value="true"> perrissable ?
                <div>
                    <label for="dateperemption">Date de péremption</label>
                    <input type="date" class="form-control" id="dateperemption" name="dateperemption" [(ngModel)]="produit.dateperemption">
                </div>
            </label>
        </radio-group>
    <div> class="form-group"
        <button class="accordion">Fournisseur</button>
        <div class="panel-fournisseur">
         {{fournisseurs.nom}}
        <div>
            ajouter un fournisseur
            <input type="text" class="form-control" id="fournisseur" name="fournisseur" [(ngModel)]="produit.fournisseur">
        </div>
    </div>
    <div class="form-group">
        <label for="photo">Image</label>
        <input type="file" class="form-control-file" id="photo" name="photo" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
    </div>

    
    <button (click)="ConfirmDialogComponent">valider</button>
  </form>
</div>