<div class="cart">
    <p class="panier">votre panier</p>
    <hr>
    <div class="itemInfo" *ngFor="let item of items$ | async; let i = index">
        <div class="imageCart">{{ item.produit.image}}</div>
        <div class="ProduitCart">{{ item.produit.nom }} </div>
        <div class="cartInformation">
            <select class="selectorQuantity" [value]="item.quantite" (change)="changeSubtotal(item, $event)">
                <option *ngFor="let qte of quantiteOptions" [value]="qte">
                    {{ qte }}
                </option>
            </select>
        </div>
        {{ item.produit.prix | currency:'CHF' }}
        <div class="buttonDelete">
            <button class="deleteFromCart" (click)="deleteFromCart(item.produit)"><i class="ph ph-trash"></i> Supprimer</button>
        </div>
    </div>
    <hr>
    <div class="total">
        <p>Total </p>  <p class="totalPrice"> {{ total | currency:'CHF' }} </p>
    </div>    
    <div class="ButtonPurchase">
        <button class="buttonPurchaseLink" routerLink="/purchase">Passez en caisse</button>
    </div>
</div>