<div> 

    <p>votre panier</p>
    <hr>
        {{ articleCommande.produitId.image }} 
        {{ articleCommande.produitId.nom }}
        <option>{{ articleCommande.quantite }}</option>
        {{ articleCommande.produitId.prix }}
        <button(click="deletCommande(commande.id)")><i class="ph ph-trash"></i> Supprimer </button>
    <hr>
    frais d'expédition 
    <hr>
        <button cart="purchase" >Passez en caisse</button>
    <hr>

     <app-confirmation-commande></app-confirmation-commande>
</div>