<div class="cart">
    <p>votre panier</p>
    <hr>
    <div *ngFor="let item of items$ | async; let i = index">
        {{ item.produit.nom }}
        {{ item.produit.image}}
        <div class="cartInformation">
            <select [value]="item.quantite" (change)="onQuantiteChange(item, $event)">
                <option *ngFor="let qte of quantiteOptions" [value]="qte">
                    {{ qte }}
                </option>
            </select>
        </div>
        {{ item.produit.prix | currency:'CHF' }}
        <button class="deleteFromCart" (click)="deleteFromCart(item.produit)"><i class="ph ph-trash"></i> Supprimer</button>
    </div>
    <hr>
    <p>Total : {{ total | currency:'CHF' }}</p>
    <button class="buttonPurchaseLink" routerLink="/purchase">Passez en caisse</button>
    <hr>
</div>