<div class="commande">
    <p class="Pcommandes">Vos commandes</p>
    <table class="tableCommande">
        <thead class="headCommande">
            <tr>
                <th>Numéro référence</th>
                <th>Articles</th>
                <th>Total</th>
                <th>Moyen de paiement</th>
                <th>Facture</th>
            </tr> 
        </thead>
            <tbody class="bodyCommande">
                @for (commande of commandes; track commande.id) {
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.articleCommandes }}</td>
                    <td>{{ getTotalByCommande(commande.id) | currency:'CHF' }}</td>
                    <td>{{ commande.payement }}</td>
                    <td>
                        <button class="facture" *ngIf="commande.facture" (click)="downloadFacture(commande)">facture</button>
                    </td>
                    <td>
                        <app-delete-commande [commandeId]="commande.id"></app-delete-commande>
                    </td>
                </tr>
                }
            </tbody>
    </table>
</div>