<div class="articlePage"> 

    <p>votre panier</p>
    <hr>
        <div class="photoArticle">{{ articleCommande.produitId.image }}</div> 
        {{ articleCommande.produitId.nom }}
        <option class="articleQuantity">{{ articleCommande.quantite }}<i class="ph ph-down"></i></option>
        {{ articleCommande.produitId.prix }}
        <button(click="deletCommande(commande.id)")><i class="ph ph-trash"></i> Supprimer </button>
    <hr>
    frais d'expédition 
    <hr>
        <button class="shopButton" cart="shopping" >ajouter au panier</button>
    <hr>
</div>