
<div >
    <input 
        type="text" 
        [formControl]="filterfcvar" 
        placeholder="Rechercher un utilisateur..."
        class="form-control mb-3"
        />
    <table>
        <thead>
            <tr></tr>
                <th scope="col">Commande Id</th>
                <th scope="col">Client</th>
                <th scope="col">Articles</th>
                <th scope="col">Annuler la commande</th>
            </tr>
        </thead>
        <tbody>
            <tr class="filtre"
            *ngFor="let commande of filteredCommande$ | async; let i = index"
            class="list-group-item"
            (click)="setCurrentAntrag(commande, i)"
            >
                <td> {{ commande.id }} </td>
                <td> {{ commande.userid }}</td>
                <td> {{ commande.articleCommandeId}}<td>
                <td> {{ commande.payement }}</td>
                <td> {{ commande.facure}}<td>
                <td>
                    <a href"./{id}/deleteCommande.component.html"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>