
<div >
    <input 
        type="text" 
        [formControl]="filterfcvar" 
        placeholder="Rechercher un utilisateur..."
        class="form-control mb-3"
        />
    <table>
        <thead>
            <tr></tr>
                <th scope="col">Nom</th>
                <th scope="col">Métier</th>
                <th scope="col">action</th>

            </tr>
        </thead>
        <tbody>
            <tr class="filtre"
            *ngFor="let commande of filteredCommande$ | async; let i = index"
            class="list-group-item"
            (click)="setCurrentAntrag(commande, i)"
            >
                <td> {{ user.nom }} </td>
                <td> {{ user.roleId }}</td>
                <td>
                    <a href"./{id}/editUser.component.html"></a>
                    <a href"./{id}/deleteUser.component.html"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>