<div class="menuAdmin" >
    <select class="filtreSelect" [formControl]="filterField">
    <option value="user">Client</option>
    <option value="id">Commande Id</option>
    </select>
    <table class="tableAdmin">
        <thead class="theadAdmin">
            <tr>
                <th scope="col" [class.column-table-filter]="filterField.value === 'id'">Commande Id</th>
                <th scope="col" [class.column-table-filter]="filterField.value === 'user'">Client</th>
                <th scope="col">Articles</th>
                <th scope="col">moyen de payement</th>
                <th scope="col">Annuler <br> la commande</th>
            </tr>
        </thead>
        <tbody class="tbodyAdmin">
            <tr class="filtre list-group-item"
                *ngFor="let commande of filteredCommande$ | async; let i = index"
                (click)="setCurrentAntrag(commande, i)"
            >
                <td [class.column-table-filter]="filterField.value === 'id'">{{ commande.id }}</td>
                <td [class.column-table-filter]="filterField.value === 'user'">{{ commande.user }}</td>
                <td>{{ commande.articleCommandes }}</td>
                <td>{{ commande.payement }}</td>
                <td>
                    <app-delete-commande-secretaire [commandeId]="commande.id" (commandeSupprimee)="onCommandeSupprimee($event)"></app-delete-commande-secretaire>
            </tr>
        </tbody>
    </table>
</div>