<div class="menuAdmin" >
    <select [formControl]="filterField" class="form-select mb-2">
    <option value="user">Client</option>
    <option value="id">Commande Id</option>
    </select>
    <input
        type="text"
        [formControl]="filterfcvar"
        placeholder="Rechercher une commande..."
        class="form-control mb-3"
    />
    <table class="tableAdmin">
        <thead class="theadAdmin">
            <tr>
                <th scope="col">Commande Id</th>
                <th scope="col">Client</th>
                <th scope="col">Articles</th>
                <th scope="col">moyen de payement</th>
                <th scope="col">Annuler <br> la commande</th>
            </tr>
        </thead>
        <tbody class="tbodyAdmin">
            <tr class="filtre list-group-item"
                *ngFor="let commande of filteredCommande$ | async; let i = index"
                (click)="setCurrentAntrag(commande, i)"
            >
                <td>{{ commande.id }}</td>
                <td>{{ commande.user }}</td>
                <td>{{ commande.articleCommandes }}</td>
                <td>{{ commande.payement }}</td>
                <td>
                    <app-delete-commande-secretaire [commandeId]="commande.id"></app-delete-commande-secretaire>
            </tr>
        </tbody>
    </table>
</div>