<div class="menuAdmin" >
    <select [formControl]="filterField" class="form-select mb-2">
    <option value="pseudo">Nom</option>
    <option value="role">Métier</option>
    </select>
    <input
        type="text"
        [formControl]="filterfcvar"
        placeholder="Rechercher un utilisateur..."
        class="form-control mb-3"
    />
    <table class="tableAdmin">
        <thead class="theadAdmin">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Métier</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="tbodyAdmin">
            <tr class="filtre list-group-item"
                *ngFor="let user of filteredUser$ | async; let i = index"
                (click)="setCurrentAntrag(user, i)"
            >
                <td>{{ user.pseudo }}</td>
                <td>{{ getRoleLabel(user) }}</td>
                <td>
                    <a class="optionUser" [routerLink]="['/app-secretaire-update-user', user.id]"><i class="ph ph-pencil"></i></a>
                    <button class="optionUser" (click)="deleteUser(user.id)"><i class="ph ph-x-circle"></i></button>
                </td>
            </tr>
        </tbody>
        <a class="optionUser" routerLink="/app-secretaire-register"><i class="ph ph-plus-circle"></i></a>
    </table>
    
</div>