<div class="page DEFAULT-theme">
  <form class="logForm column-layout" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="pseudo">Pseudo:</label>
      <input id="pseudo" formControlName="pseudo" placeholder="Pseudo"/>
      <div *ngIf="loginForm.get('pseudo')?.invalid && loginForm.get('pseudo')?.touched">
        <small *ngIf="loginForm.get('pseudo')?.errors?.['required']">Le pseudo est requis.</small>
        <small *ngIf="loginForm.get('pseudo')?.errors?.['minlength']">Le pseudo doit comporter au moins 3 caractères.</small>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" placeholder="email"/>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">L'email doit être valide.</small>
      </div>
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input id="password" type="password" formControlName="password" placeholder="Mot de passe" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins 4 caractères.</small>
      </div>
    </div>
    <div class="roleField">
      <label for="role">Sélectionner le métier de l'utilisateur :</label>
      <select id="role" formControlName="role">
        <option value="LOGISTICIEN">Logisticien</option>
        <option value="SECRETAIRE">Secrétaire</option>
      </select>
    </div>
    <div class="formActions">
      <button class="logbutton" type="submit">Mettre à jour</button>
   </div>
  </form>
</div>