<div class="menuAdmin">
    <table class="tableAdmin">
        <thead class="theadAdmin">
            <tr>
                <th scope="col">achat</th>
                <th scope="col">remboursement</th>
                <th scope="col">Total</th>
                <th scope="col">date du jour</th>
            </tr>
        </thead>
        <tbody class="tbodyAdmin">
            <tr>
                <td>{{ achat }}</td>
                <td>{{ remboursement }}</td>
                <td>{{ prixTotal }}</td>
                <td>{{ date }}</td>
            </tr>
        </tbody>
    </table>
</div>