<div>
    <table>
        <thead>
            <tr>
                <th scope="col">achat</th>
                <th scope="col">remboursement</th>
                <th scope="col">Total</th>
                <th scope="col">date du jour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ achat }}</td>
                <td>{{ remboursement }}</td>
                <td>{{ prixTotal }}</td>
                <td>{{ date }}</td>
            </tr>
        </tbody>
    </table>
</div>