<div class="menuAdmin">
    <select class="filtreSelect" [formControl]="filterField">
    <option value="produit">Produit</option>
    <option value="achat">Achat</option>
    </select>
    <table class="tableAdmin">
        <thead thead class="theadAdmin">
            <tr>
                <th scope="col" [class.column-table-filter]="filterField.value === 'produit'">Produit</th>
                <th scope="col" [class.column-table-filter]="filterField.value === 'achat'">Achat</th>
            </tr>
        </thead>
        <tbody class="tbodyAdmin">
            <tr
                *ngFor="let produitPhare of filteredProduitPhare$ | async"
                class="list-group-item"
                >
                <td [class.column-table-filter]="filterField.value === 'produit'">{{ produitPhare.produit }}</td>
                <td [class.column-table-filter]="filterField.value === 'achat'">{{ produitPhare.achat }}</td>
            </tr>
        </tbody>
    </table>
</div>